
.fetched-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fetched-user-item {
    padding-bottom: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.api-failure {
    color: red;
}

.api-success {
    color: green;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .fetched-user-item {
        padding-bottom: 5px;
    }
}